@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Universal styling  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Fira Sans" , sans-serif;
}
.p-120{
    padding: 0 120px;
}
.mb-120{
    margin-bottom: 120px;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.btn:hover{
    border: 1px solid #30b868;
    background: white;
    color: #30b868;
}
.btn-green{
    background: #469165;
}
.btn-transparent{
    background: transparent;
    border: 1px solid ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}


/* navbar styling */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 12px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 32px;
}

/* hero styling */
.hero{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 70px;
    padding-bottom: 134px;

    background: url(assets/hero.png);
    background-size:cover ;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;

    margin: 0 auto;
    color: white;
}
.early-btn{
    color: #469165;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 50px;
}
.early-btn img{
    margin-right: 10px;
    
}
.hero h1{
    font-size:64px ;
    margin-bottom: 16px;
}
.hero h1 span{
    color: #469165;
    font-size:64px ;
}
.hero p{
    font-size: 18px;
    margin-bottom: 32px;
}
.hero-btns {
    display: flex;
    gap: 16px;
}

/* banner styling */
.banner{
    padding-top: 22px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;
}
.banner-top{
    margin-top: 22px;
    margin-bottom: 44px;
}
.banner-top h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;

}
.banner-top p{
    font-size: 16px;
    font-weight: 500;
    color: #627382;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}
.card{
    padding:24px ;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.32);
    height: 300px;
    width: 322px;
    border-radius: 5px;

}
.card img{
    margin-top: 36px;
    margin-bottom: 16px;
    width: 60px;
}
.card h3{
    color: #001931;
    font-size: 24;
    font-weight: 500;
    margin-bottom: 16px;
}
.card p{
    color: #627382;
    font-size: 16px;
}


/* idea stylintg */
.idea{
    display: flex;
    align-items: center;
    gap: 60px;
}
.idea-left img{
    width: 600px;
}
.idea-right .idea-sub-heading{
    color: #30b868;
    font-size: 16px;
    margin-bottom: 16px;
}
.idea-right .idea-heading{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.idea-right .idea-des{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
}
.idea-right .idea-list{
    color: black;
    font-size: 16px;
    margin-bottom: 40px;
}
.idea-right .idea-list li{
    margin-bottom:16px ;
}

/* think stylint */
.think{
    background: #f7f6f2;
    padding: 80px 40px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
}
.think .think-heading{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.think p{
    font-size: 16px;
    margin-bottom: 24px;
    color: #627382;
}


/* footer styling */
footer{
    background: #000;
    color: white;
    padding: 120px;
    padding-bottom: 30px;
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.socials-links h4{
    font-size: 20px; 
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 18px;
}
.icons{
    display: flex;
    gap: 16px;
}

.icons img{
    width: 20px;
}
footer p{
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}